<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAMV33eQPwCE61K2s0d7s75yQwD0TCIx9U</string>
	<key>GCM_SENDER_ID</key>
	<string>602963366275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.northwindinteractive.northwindinteractivepapertrader.NorthwindInteractivePaperTrader</string>
	<key>PROJECT_ID</key>
	<string>nwi-papertrading</string>
	<key>STORAGE_BUCKET</key>
	<string>nwi-papertrading.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602963366275:ios:b878ccfbb9444d77a7e6b6</string>
</dict>
</plist>